/* General */

.calendar-eightysix {
	cursor: default;
	position: absolute;
	z-index: 999;
	text-align: center;
}
	.calendar-eightysix, .calendar-eightysix * {
		overflow: hidden;
		padding: 0;
		margin: 0;
		line-height: 100%;
	}
		.calendar-eightysix .c86-header.c86-dragger {
			cursor: move;
		}
		
			.calendar-eightysix .c86-header .c86-arrow-left, .calendar-eightysix .c86-header .c86-arrow-right {
				cursor: pointer;
			}
			.calendar-eightysix .c86-header .c86-arrow-left {
				float: left;
			}
			.calendar-eightysix .c86-header .c86-arrow-right {
				float: right;
			}
			
			.calendar-eightysix .c86-header .c86-label {
				display: inline-block;
				overflow: visible;
				width: 146px;
			}
				.calendar-eightysix .c86-header .c86-label.c86-clickable {
					cursor: pointer;
				}
		
		.calendar-eightysix .c86-body {
			position: relative;
		}
			.calendar-eightysix .c86-body .c86-inner .c86-container {
				position: absolute;
				left: 0;
			}
				
				.calendar-eightysix .c86-body .c86-inner .c86-container .c86-row div {
					float: left;
				}
				
					.calendar-eightysix .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div, 
					  .calendar-eightysix .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div {
						cursor: pointer;
					}

/* Specifc */

.calendar-eightysix.osx-dashboard {
	width: 198px;
	height: 162px;
	background: url('../images/calendar/osx-dashboard/background.png') center;
	font-family: Calibri, Helvetica, Trebuchet, Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #fff;
}
*html .calendar-eightysix.osx-dashboard {
	background-image: url('../images/calendar/osx-dashboard/background.gif');
}

	.calendar-eightysix.osx-dashboard .c86-wrapper {
		padding: 16px;
	}
		
		/* Header */
		
		.calendar-eightysix.osx-dashboard .c86-header {
			height: 22px;
		}
		
			.calendar-eightysix.osx-dashboard .c86-header .c86-arrow-left, .calendar-eightysix.osx-dashboard .c86-header .c86-arrow-right {
				width: 12px;
				height: 16px;
			}
			.calendar-eightysix.osx-dashboard .c86-header .c86-arrow-left {
				background: transparent url('../images/calendar/osx-dashboard/arrow-left.gif') 5px 3px no-repeat;
			}
				.calendar-eightysix.osx-dashboard .c86-header .c86-arrow-left:hover {
					background-image: url('../images/calendar/osx-dashboard/arrow-left-hover.gif');
				}
			.calendar-eightysix.osx-dashboard .c86-header .c86-arrow-right {
				background: transparent url('../images/calendar/osx-dashboard/arrow-right.gif') 3px 3px no-repeat;
			}
				.calendar-eightysix.osx-dashboard .c86-header .c86-arrow-right:hover {
					background-image: url('../images/calendar/osx-dashboard/arrow-right-hover.gif');
				}
			
			.calendar-eightysix.osx-dashboard .c86-header .c86-label {
				color: #cf0;
				width: 120px;
			}
				.calendar-eightysix.osx-dashboard .c86-header .c86-label.c86-clickable:hover {
					color: #fff;
				}
		
		/* Body */
		
		.calendar-eightysix.osx-dashboard .c86-body {
			height: 108px;
		}
			
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container {
				width: 166px;
				height: 108px;
			}
			
			/* General container */
			
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row {
				width: 166px;
			}
			
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row div.c86-non-selectable,
				  .calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row div.c86-non-selectable:hover {
					color: #dcdcdc !important;
					cursor: default !important;
					background: none !important;
				}
				
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row div.c86-today {
					text-decoration: underline;
				}
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row div.c86-selected {
					font-weight: bold;
					color: #cf0 !important;
				}
			
			/* Month */
			
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row {
				height: 122px;
				height: 15px;
			}
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row.a {
					height: 19px;
					text-transform: uppercase;
				}
				
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row.a div {
				cursor: default !important;
				color: #9c9c9c !important;
			}
				
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row div {
					padding-top: 1px;
					width: 23px;
					height: 14px;
				}
				
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-outside {
					color: #454545;
				}				
					.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row.a div,
					  .calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-outside:hover {
						color: #9c9c9c !important;
					}
			
			/* Year & decade */
			
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-year-decade .c86-row {
				height: 36px;
			}
				.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div {
					width: 41px;
					padding-top: 11px;
					height: 24px;
				}
			
			.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div:hover, 
			  .calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div:hover {
				color: #cf0;
			}
		
		/* Footer */
		
		.calendar-eightysix.osx-dashboard .c86-footer {
			display: none;
		}